<footer class="footer">
	<nav class="foot-nav">
		<ul class="foot-menu-list">
			<li class ="left-footer"><%= active_link_to fa_icon('twitter', type: :brand), "https://twitter.com/fortheloveofquo", target: "_blank" %></li>
			<li class ="left-footer"><%= active_link_to fa_icon('instagram', type: :brand), "https://www.instagram.com/loving_quotes_again/", target: "_blank" %></li>
			<!-- <li class ="left-footer"><%= active_link_to fa_icon('telegram', type: :brand), "https://t.me/fortheloveofquotes", target: "_blank" %></li> -->
			<li class= "left-footer"><%= active_link_to fa_icon('mastodon', type: :brand), "https://layer8.space/@fortheloveofquote", target: "_blank" %></li>
			<li class = "right-footer" id="imprint"><%= active_link_to "Imprint", imprint_path %></li>
			<li class = "right-footer"><%= active_link_to "Privacy notice", privacy_notice_path %></li>
		</ul>
	</nav>
</footer>